<%= render 'books/list', book: @book,user: @user %>
<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>

<% @users.each do |user| %>
  <div>
    <%= link_to user_path(user.id) do %>
      <%= image_tag @book.get_image %>
    <% end %>
    <p><%= link_to  user_path(user.id) do %>
       <%= user.name %></p>
     <% end %>
    <% end %>
    </div>